<li id="movie-<%= movie.id %>" class="_movie">
  <p class="movie_user">
    <%= movie.name %>
  </p>
  <p class="movie_maxim">
    <%= link_to movie.movie_maxim, movie %>
    <%= render partial: "movies/spoiler", locals: { movie: movie } %>
  </p>
  <div class="iine_time_delete">
    <span><%= render "likes/like", movie: movie %></span>
    <div>
      <p>
        <%= time_ago_in_words(movie.created_at) %> 前に投稿
      </p>
      <p>
        <%= link_to movie.user.name , movie.user %>さんの投稿
        <% if current_user?(movie.user) %>
        <%= link_to "(投稿を削除する)", movie, method: :delete,
                      data: { confirm: "本当によろしいですか?" } %>
        <% end %>
      </p>
    </div>
  </div>
</li>
