<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <p>投稿数: <%= @user.movies.length %></p>
      </h1>
    </section>
    <%= render "users/my_profile" %>
  </aside>
  <div class="col-md-8">
    <div class="follow_form">
      <%= render 'follow_form' if logged_in? %>
    </div>
    <% if @user.movies.any? %>
      <ol class="movies">
        <h2>投稿数 (<%= @user.movies.count %>)</h2>
        <%= render @movies %>
      </ol>
      <%= will_paginate @movies, class: "will_paginate" %>
    <% end %>
  </div>
</div>
