<div class="each_link">
  <%= render "themoviedb_api/themoviedb_api" %>
  <nav>
    <ul>
      <li><%= link_to "ホームページ",  root_path  %></li>
      <li><%= link_to "プロフィール", current_user %></li>
      <li><%= link_to "映画を紹介する", new_movie_path %></li>
      <li><%= link_to "いいね一覧", likes_path %></li>
      <li><%= link_to "紹介した映画", '#' %></li>
      <li><%= link_to "フォロワー", '#' %></li>
      <li><%= link_to "フォロー中", '#' %></li>
      <li><%= link_to "映画情報", themoviedb_api_index_path %></li>
    </ul>
  </nav>
</div>
