<div class="each_link">
  <nav>
    <ul>
      <li><%= link_to "ホームページ",  root_path  %></li>
      <li><%= link_to "プロフィール", '#' %></li>
      <li><%= link_to "映画を紹介する", '#' %></li>
      <li><%= link_to "いいね一覧", '#' %></li>
      <li><%= link_to "紹介した映画", '#' %></li>
    </ul>
  </nav>
</div>
